<form>
    <h1>Aggiunggi Prenotazione</h1> <br>
    ID:<input #id> <br><br>
    Nome:<input #nome> <br><br>
    Cognome:<input #cognome> <br><br>
    Indirizzo:<input #indirizzo> <br><br>
    Telefono:<input #telefono> <br><br>
    Email:<input #email> <br><br>
    Data Prenotazione:<input #dataPrenotaz> <br><br>
    Ora Prenotazione:<input #oraPrenotaz> <br><br>
    <button (click)="AddPrenotazione(id, nome, cognome, indirizzo, telefono, email, dataPrenotaz, oraPrenotaz)">Aggiungi</button>
</form>
<br><br>

<div *ngIf="loading">loading...</div>
