<form>
    <h1>Aggiunggi Prenotazione</h1> <br>
    Nome:<input #nome> <br><br>
    Cognome:<input #cognome> <br><br>
    Indirizzo:<input #indirizzo> <br><br>
    Telefono:<input #telefono> <br><br>
    Email:<input #email> <br><br>
    Data Prenotazione:<input #dataPrenotaz> <br><br>
    Ora Prenotazione:<input #oraPrenotaz> <br><br>
    <button (click)="AddPrenotazione(nome, cognome, indirizzo, telefono, email, dataPrenotaz, oraPrenotaz)">Aggiungi</button>
</form>
<br><br>
 <h1>Lista Prenotazioni</h1> <br>
<app-prenotaz *ngFor="let a of prenotaz" [prenotazione]="a" (click)="dettagliare(a)"> </app-prenotaz>

<h1>Dettaglio Prenotazione</h1>
<app-dettagli-prenotaz [InputPrenotazione] = "prenotazioneDettagliata" ></app-dettagli-prenotaz>
 <!-- -->
