<div>
  <form>
      <h1>Aggiunggi Canzone</h1> <br>
      Id:<input #idA> <br><br>
      Titolo album:<input #titoloA> <br><br>
      Artista:<input #artista> <br><br>
      Durata Album:<input #durataA> <br><br>
      Data di uscita:<input #dataUscita> <br><br>
      Durata Canzone:<input #durataC> <br><br>
      Titolo Canzone:<input #titoloC> <br><br>
      <button (click)="AddAlbum(idA, titoloA, artista, durataA, dataUscita, durataC, titoloC)">Aggiungi</button>
  </form>

  <br>
  <div>
    <h1>Lista Canzoni</h1> <br>
  </div>
</div>

<!-- <app-prenotaz *ngFor="let a of prenotaz" [prenotazione]="a" (click)="dettagliare(a)"> </app-prenotaz> -->

<!-- <h1>Dettaglio Prenotazione</h1>
<app-dettagli-prenotaz [InputPrenotazione] = "prenotazioneDettagliata" ></app-dettagli-prenotaz> -->


